
<template>
  <div id="app">

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <img src="./assets/logo.png">
        <!-- X Change -->
      </a>
    </nav>

    <div class="container-fluid">

      <div class="row">

        <nav class="col-md-2">

            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <!-- <li class="nav-item">
                  <a class="nav-link active" href="/dashboard">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                    Dashboard
                  </a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/litecoin">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> -->
                    Account/Wallet
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/environment">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                    Ambiente
                  </a>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/equipment">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    Equipamento
                  </a>
                </li> -->
              </ul>
            </div>

          </nav>
          <!-- <div class="row"> -->
            <router-view></router-view>
          <!-- </div> -->
      </div>

    </div>

  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
    }
  },
  methods: {
  }
}
</script>

<style lang="css">
</style>
