<template>
  <div id="litecoinId">

    <h1>LTC</h1>

    <div>
      <button @click="ltcBalance" type="button">Account Balance</button>
    </div>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data() {
    return {
      account: '',
      // balance: 0,
      infos: {}
      // balance: 0
      // responsible: '',
      // address: '',
      // locale: '',
      // floor: '',
      // department: '',
      // line: '',
      // clients: {}
    }
  },
  computed: {
    ...mapGetters('litecoin', ['litecoin'])
  },
  methods: {
    ...mapActions('litecoin', ['litecoinBalance']),

    async ltcBalance() {
      try {
        // const account = this.account
        const formData = {
          account: this.account
        }
        console.log('components.litecoin.litecoinvue.ltcBalance.formData ::; ', formData);
        // await this.litecoinBalance(formData)
        const balance = await this.litecoinBalance(formData)
        console.log('components.litecoin.litecoinvue.ltcBalance.balance ::; ', balance)
        const infos = this.litecoin
        this.infos = infos
        console.log('ltcBalance.this.infos ::; ', infos);
      } catch (e) {
        console.log('error ::; ', e)
      }
    }
    // async listClients() {
    //   try {
    //     const formData = {
    //       account: this.account
    //     }
    //     // console.log('this.getInfoClient() ::; ', this.getInfoClient());
    //     // console.log('listClients ::; ', formData);
    //     await this.getInfoClient(formData)
    //     const clients = this.client
    //     this.clients = clients
    //     console.log('listClients.this.clients ::; ', clients)
    //   } catch (e) {
    //     console.log('error ::; ', e)
    //   }
    // }
  }
}
</script>

<style lang="css">
</style>
