<template>
<div id="client">

  <form @submit.prevent="registerClient">
    <div class="form-group">
      <label for="account">Account:</label>
      <input id="account" type="account" class="form-control" v-model="account">
    </div>

    <div>
      <button class="btn btn-primary" type="submit">Criar</button>
    </div>
    <!-- <br> -->
    <!-- <div>
      <button @click="listClients" type="button">Listar Carteira</button>
    </div>
    <table width="30%" border="1" cellpadding="2" cellspacing="2" v-show="clients.length > 0">
      <thead>
        <tr>
          <th>ADDRESS</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="client in clients" :client="client">
          <td>{{ client.account }}</td>
        </tr>
      </tbody>
    </table> -->
  </form>
  <br>
  <div>
    <button @click="listClients" type="button">Listar Carteira</button>
  </div>
  <!-- <table width="30%" border="1" cellpadding="2" cellspacing="2" v-show="clients.length > 0"> -->
  <table width="30%" border="1" cellpadding="2" cellspacing="2">
    <thead>
      <tr>
        <th>ADDRESS</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="client in clients" :client="client">
        <td>{{ client }}</td>
      </tr>
    </tbody>
  </table>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data() {
    return {
      account: '',
      // responsible: '',
      // address: '',
      // locale: '',
      // floor: '',
      // department: '',
      // line: '',
      clients: {}
    }
  },
  computed: {
    ...mapGetters('client', ['client'])
  },
  methods: {
    ...mapActions('client', ['createClient', 'getInfoClient']),
    async registerClient() {
      try {
        const formData = {
          account: this.account
        }
        console.log(formData)
        await this.createClient(formData)
      } catch (e) {
        console.log('error ::; ', e)
      }
    },
    async listClients() {
      try {
        const formData = {
          account: this.account
        }
        // console.log('this.getInfoClient() ::; ', this.getInfoClient());
        // console.log('listClients ::; ', formData);
        await this.getInfoClient(formData)
        const clients = this.client
        this.clients = clients
        console.log('listClients.this.clients ::; ', clients);
      } catch (e) {
        console.log('error ::; ', e)
      }
    }
  }
}
</script>

<style lang="css">
</style>
